# Node modules
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv/

# Mac
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Expo
.expo/
dist/
web-build/

# Docker
postgres_data/

